extends ../layout

block content
	span
		h1 Blog Posts
			a.btn.btn-primary.pull-right(href='/new') Add Article

	each article in articles
		div.panel.panel-default
			div.panel-heading  
				a(href='#{article._id}') #{article.title}
			div.panel-body #{article.text}
			
				hr
				
				each tag in article.tags
					a.label.label-default(href="") #{tag}
					| 
				